<style type="text/css">
#il {
    height: 400px;
}

#il .t {
    width: 200px;
    text-align: center;
}
</style>
<div class="pageContent j-resizeGrid">
    <div class="panelBar">
        <ul class="toolBar">
            <li class=""><a class="add" href="{:U('admin/chat/index')}" target="navTab"><span>聊天管理</span></a></li>
        </ul>
    </div>
    <form action="__MODULE__/Chat/store" method="post" width="100%" class="pageForm required-validate" onsubmit="return validateCallback(this)">
        <table id="il" class="list" width="98%" targetType="navTab" asc="asc" desc="desc" layoutH="42">
            <tbody>
                <tr>
                    <td class="t">发送用户ID</td>
                    <td>
                        <select name="fromuser_id">
                            <volist name="users" id="vo">
                                <option value="{$vo['id']}">{$vo['id']}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="t">接收用户ID</td>
                    <td>
                        <select name="touser_id">
                            <volist name="users" id="vo">
                                <option value="{$vo['id']}">{$vo['id']}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="t">聊天内容</td>
                    <td>
                        <textarea name="content" cols="80" rows="5" class="textInput">{$row['content']}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="t"></td>
                    <td></td>
                    <td class="t"></td>
                    <td>
                        <input type="submit" value="添加">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
