<form action="__MODULE__/Category/doAdd2" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);" novalidate="novalidate">
   <input type="hidden" name="id"/>
    一级分类：
     <select name="id">
     <option selected="selected"  value="0">请选择</option>
	     <volist name="cat" id="vo">
          <eq name="selectpid" value="$vo.id">
            <option selected="selected"  value="{$vo.id}">{$vo.name}</option>
          <else/>
            <option value="{$vo.id}">{$vo.name}</option>
          </eq>
	     </volist>
     </select>
     </br>
     </br>
     二级分类：<input type="input" name="name" class="required" alt="请输入添加的二级分类"/><span class="info">请输入添加的二级分类</span></br></br>
     <div class="formBar" style="position:absolute;bottom:0;right:0;width:100%;">
         <ul>
        <li><div class="buttonActive"><div class="buttonContent"><button type="submit" name="submit">添加</button></div></div></li>
        <li>
          <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
        </li>
      </ul>
     </div>
	 
   </form>
