<link rel="stylesheet" type="text/css" href="__PUBLIC__/menu/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/menu/css/main.css" />
<form id="pagerForm" method="post" action="__MODULE__/Menu/manage">
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="keywords" value="${param.keywords}">
    <input type="hidden" name="pageNum" value="1">
    <input type="hidden" name="numPerPage" value="{$numPerPage}">
    <input type="hidden" name="orderField" value="${param.orderField}">
</form>
<div class="pageContent j-resizeGrid">
    <div class="panelBar">
        <ul class="toolBar">
            <li class=""><a class="add" href="__MODULE__/Menu/view" target="dialog"><span>显示</span></a></li>
        </ul>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>自定义菜单</h1><span>如想添加主菜单，请先创建好主菜单再创建子菜单</span>
        </div>
        <div class="result-content">
            <button><a href="#" class="addM">添加主菜单</a></button>
            <p style="height:20px"></p>
            <ul class="sys-info-list">
                <form action="__MODULE__/Menu/create" method="post" id="only">
                    <?php $ii=1;?>
                    <volist name="menu" id="vo">
                        <li class="mainM">
                            <input type="text" value="{$vo->name}" name="name" />
                            <span>
                <?php $type=$vo->type; ?>
                <if condition="$type=='click'">
                <input type="radio" value="click" name="type{$ii}" checked/>点击
                <input type="radio" value="view" name="type{$ii}" /> 链接
                <else />
                    <input type="radio" value="click" name="type{$ii}" /> 点击
                    <input type="radio" value="view" name="type{$ii}" checked="checked" /> 链接
                </if>
            </span>
                            <input type="text" name="value" value="{$vo->key}{$vo->url}" />&nbsp;<a href="#" class="add">增加</a>&nbsp;<a href="#" class="delete">删除</a>
                            <ul style="margin-left:2em;">
                                <?php $sub_button = $vo->sub_button;$j=1;?>
                                <volist name="sub_button" id="sub_vo">
                                    <li>
                                        <input type="text" value="{$sub_vo->name}" name="name" /><span>
                <?php $type=$sub_vo->type; ?>
                <if condition="$type=='click'">
                <input type="radio" value="click" name="{$sub_vo->name}" checked/> 点击
                <input type="radio" value="view" name="{$sub_vo->name}" /> 链接
                <else />
                    <input type="radio" value="click" name="{$sub_vo->name}" />点击 
                    <input type="radio" value="view" name="{$sub_vo->name}" checked="checked" /> 链接
                </if>
            </span>
                                        <input type="text" name="value" value="{$sub_vo->key}{$sub_vo->url}" />&nbsp;<a href="" class="delete">删除</a>
                                    </li>
                                </volist>
                            </ul>
                        </li>
                        <?php $ii++; ?>
                    </volist>
                    <input type="button" value="创建菜单" id="createMenu" />
                </form>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$("#createMenu").click(function() {
    var menu = new Array(); //存储菜单对象
    //一级菜单
    $(".sys-info-list>form>li").each(function() {
        var menuObj = new Object();
        menuObj.
        name = $(this).children("input[name='name']").val();
        menuObj.type = $(this).children('span').children("input[type='radio']:checked").val();
        if (menuObj.type == "click") {
            menuObj.key = $(this).children("input[name='value']").val();
        } else {
            menuObj.url = $(this).children("input[name='value']").val();
        }
        //组织子菜单数据
        menuObj.sub_button = new Array();
        $(this).children("ul").children("li").each(function() {
            var sub_menuObj = new Object();
            sub_menuObj.name = $(this).children("input[name='name']").val();
            sub_menuObj.type = $(this).children('span').children("input[type='radio']:checked").val();
            if (sub_menuObj.type == "click") {
                sub_menuObj.key = $(this).children("input[name='value']").val();
            } else {
                sub_menuObj.url = $(this).children("input[name='value']").val();
            }
            menuObj.sub_button.push(sub_menuObj);
        });
        menu.push(menuObj);
    });
    var url = $("#only").attr('action');
    $.post(url, {
        'menu': menu
    }, function(data) {
        if (data == 'ok') {
            alert('菜单创建成功');
            window.location.href = "__MODULE__/Menu/view";
        } else {
            alert(data);

        }
    });

});
//当点击添加按钮时添加一个主菜单
var b = 10;
$(".result-content a.addM").click(function() {
    if ($(".sys-info-list li.mainM").length >= 3) {
        alert("最多添加3个主菜单");
        return false;
    }
    //创建li后再添加li

    var li = $("<li class='mainM'></li>");
    var name = '<input type="text" value="" name="name">';
    var span = '<span> <input type="radio" value="click" checked name="type' + b + '"> 点击 <input type="radio" value="view" name="type' + b + '"> 链接 </span>';

    var a1 = '&nbsp;<a href="#" class="add"><i class="icon-font"></i></a>';
    var a = '&nbsp;<a href="#" class="delete"><i class="icon-font"></i></a> ';
    var value = '<input type="text" name="value" value="">';
    li.append(name);
    li.append(span);
    li.append(value);
    li.append(a1);
    li.append(a);
    b = b + 1;
    $("#createMenu").before(li);
    return true;
});

//点击添加按钮时，添加一个子菜单

$(".sys-info-list a.add").click(function() {
    if ($(this).parent().children('ul').children().length >= 5) {
        alert("最多添加5个子菜单");
        return false;

    }

    var i = $(this).parent().index() + 1;
    var j = $(this).parent().children('ul').children().length + 1;
    //创建li后再添加li
    var li = $("<li></li>");
    var name = '<input type="text" value="" name="name">';
    var span = '<span> <input type="radio" value="click" checked name="type' + i + j + '"> 点击 <input type="radio" value="view" name="type' + i + j + '"> 链接 </span>';
    var a = '&nbsp;<a href="#" class="delete"><i class="icon-font"></i></a> ';
    var value = '<input type="text" name="value" value="">';
    li.append(name);
    li.append(span);
    li.append(value);
    li.append(a);
    $(this).parent().children('ul').append(li);

    return false;
});
//点击删除按钮时，删除相应的菜单（只是在客户端删除）
$(".sys-info-list a.delete").click(function() {
    $(this).parent().remove();
    window.setTimeout("alert('此菜单已临时删除，单击创建菜单按钮即会彻底删除')", 300)
    return false;
});
</script>
