<div class="pageContent j-resizeGrid">
	<div class="panelBar">
		<ul class="toolBar">
			<li class=""><a class="add" href="{:U('admin/message/create')}" target="navTab"><span>添加</span></a></li>
			<li class=""><a class="delete" href="__MODULE__/Message/destroy?id={sid_user}"target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li class=""><a class="edit" href="__MODULE__/Message/show?id={sid_user}" target="navTab"><span>修改</span></a></li>
			<li class="line">line</li>
			<li class=""><a class="icon" href="__MODULE__/Message/content?id={sid_user}" target="navTab" ><span>留言内容</span></a></li>
		</ul>
	</div>
		<table class="list" width="98%" targetType="navTab" asc="asc" desc="desc" layoutH="163" >
		<thead>
			<tr>
			    <th>留言ID</th>
				<th>商品ID</th>
				<th>发送用户ID</th>
				<th>接收用户ID</th>
				<th>留言内容</th>
				<th>所属ID</th>
				<th>留言时间</th>
			</tr>	
		</thead>
		<tbody>
			   <volist name="results" id="vo">
				<tr target="sid_user" rel="{$vo['id']}">
				    <td>{$vo['id']}</td>
					<td>{$vo['goods_id']}</td>
					<td>{$vo['fromuser_id']}</td>
					<td>{$vo['touser_id']}</td>
					<td>{$vo['content']}</td>
					<td>{$vo['belong_id']}</td>
					<td>{$vo['time1']}</td>
				</tr>
			</volist>
		</tbody>
	</table>
  
	</div>