<!--
* document：我的消息
 * User: 马豪珍
 * Date: 2016-12-06
 * Time: 15:56
-->
<!DOCTYPE html>
<html>
<head>
	<title>我的消息</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--IE8-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!--屏幕自适应-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-weui.css">
	<style type="text/css">
	html,body{
		height: 100%;
	}

	</style>
<body>
<div class="weui_tab">
  <div class="weui_tab_bd">
   <!--其中放我们的代码内容-->
  
   <!--导航开始-->
   <div class="weui_tab">
   <div class="weui_navbar">
    <a class="weui_navbar_item weui_bar_item_on">
      聊天消息
    </a>
    <a class="weui_navbar_item">
      留言消息
    </a>
   </div>
   <div class="weui_tab_bd">
    <!--第一个主题开始-->
    <div class="content">
      <!--图文标题开始部分-->
  <div class="weui_panel weui_panel_access">
  <div class="weui_panel_bd">
     <!--系统通知-->
     <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
      <div class="weui_media_hd">
        <img class="weui_media_appmsg_thumb" src="__PUBLIC__/images/tongzhi1.png" >
      </div>
      <div class="weui_media_bd">
          <volist name="tongzhi" id="tongzhi">
        <h4 class="weui_media_title">通知消息</h4>
        <p class="weui_media_desc">{$tongzhi.content}</p>
          </volist>
      </div>
      <div class="weui_cell_ft">{$tongzhi.time}</div>
    </a>
<volist name="chats" id="chat">
    <a href="./chat.html" class="weui_media_box weui_media_appmsg">
      <div class="weui_media_hd">
        <img class="weui_media_appmsg_thumb" src="__ROOT__/Public{$chat.head}">
      </div>
      <div class="weui_media_bd">
        <h4 class="weui_media_title">{$chat.nickname}</h4>
        <p class="weui_media_desc">{$chat.content}</p>
      </div>
      <div class="weui_cell_ft">{$chat.time}</div>
    </a>
</volist>

  </div>
</div>
  <!--图文标题结束部分-->
 </div>
    <!--第一个主题结束-->

    <!--第二个主题开始-->
    <div class="content" style="display: none;">

   <!--图文标题开始部分-->
  <div class="weui_panel weui_panel_access">
  <div class="weui_panel_bd">
  <!--系统通知-->
     <a href="./gooddetail.html" class="weui_media_box weui_media_appmsg">
      <div class="weui_media_hd">
        <img class="weui_media_appmsg_thumb" src="__PUBLIC__/images/tongzhi1.png">
      </div>
      <div class="weui_media_bd">
        <h4 class="weui_media_title">通知消息</h4>
        <p class="weui_media_desc">{$tongzhi.content}</p>
      </div>
      <div class="weui_cell_ft">{$tongzhi.time}</div>
    </a>
      <volist name="messages" id="message">
    <a href="./gooddetail.html" class="weui_media_box weui_media_appmsg">
      <div class="weui_media_hd">
        <img class="weui_media_appmsg_thumb" src="__PUBLIC__/images/speaker.png">
      </div>
      <div class="weui_media_bd">
        <h4 class="weui_media_title">{$message.nickname}</h4>
        <p class="weui_media_desc">{$message.content}</p>
      </div>
      <div class="weui_cell_ft">{$message.time}</div>
    </a>
      </volist>

  </div>
</div>
  <!--图文标题结束部分-->
  </div>
    <!--第二个主题结束-->

   </div>
  </div>

   <!--导航结束-->

  </div>
</div>
</body>

<script type="text/javascript" src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-weui.min.js"></script>
<script type='text/javascript' src='__PUBLIC__/js/swiper.js' charset='utf-8'>
</script>
 <script>
      $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
      });
      $(".weui_navbar .weui_navbar_item").click(function(){
           $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");
           $(this).addClass("weui_bar_item_on");
           //判断是第几个
           var which = $(this).index();
           //让所有的内容区域隐藏
           $(".weui_tab_bd .content").hide();
           //console.log( $(".weui_tab_bd .content").html())
            $(".weui_tab_bd .content:eq("+which+")").show();
           //console.log(which);
           
      });
    </script>
</html>
