<!-- * Created by PhpStorm.
 * User: 兰天旭
 * Date: 2016/12/20
 * Time: 15:22-->
<!DOCTYPE html>
<html>
<head>
    <title>发布二手宝贝</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--IE8-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!--屏幕自适应-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/define.css">
    <style type="text/css">
        html,body{

            height: 100%;
        }


        .weui_uploader_input{
            display: none;
        }
        #upload1{
            display: block;
        }



    </style>
<body>


<!--上传图片-->

<form action="__MODULE__/Address/doupload" method="post" enctype="multipart/form-data" >

 <!--姓名-->
        <div class="weui_cells weui_cells_form">
         <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" name="name" >
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" name="telnumber" >
                </div>
            </div>
  
</div>

    <!--收货地址-->
    <div class="weui_cells weui_cells_form">
      
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" name="address" placeholder="请输入您所想的交易地点，最好在校园内哦" rows="3"></textarea>
                <div class="weui_textarea_counter"><span>0</span>/200</div>
            </div>
        </div>
       

            <div class="buttonc">
                <br>
                <input class="button orange" type="submit" width="100%" value="保存">
            </div>
    
    </div>
    </form>

</body>

<script type="text/javascript" src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-weui.min.js"></script>
<script type='text/javascript' src='__PUBLIC__/js/swiper.js' charset='utf-8'>
</script>
<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>

<script>


</script>
</html>
