<form id="pagerForm" method="post" action="__MODULE__/Service/index">
	<input type="hidden" name="status" value="${param.status}">
	<input type="hidden" name="keywords" value="${param.keywords}">
	<input type="hidden" name="pageNum" value="1">
	<input type="hidden" name="numPerPage" value="{$numPerPage}">
	<input type="hidden" name="orderField" value="${param.orderField}">
</form>
<div class="pageContent j-resizeGrid">
	<div class="panelBar">
		<ul class="toolBar">
			<li class=""><a class="add" href="{:U('admin/Service/account')}" target="navTab"><span>添加</span></a></li>
			<li class=""><a class="delete" href="__MODULE__/Service/deleteAccount?id={sid_user}"target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li class=""><a class="edit" href="__MODULE__/Message/show?id={sid_user}" target="navTab"><span>修改</span></a></li>
			<li class="line">line</li>
			<li class=""><a class="icon" href="__MODULE__/Message/content?id={sid_user}" target="navTab" ><span>留言内容</span></a></li>
		</ul>
	</div>
		<table class="list" width="98%" targetType="navTab" asc="asc" desc="desc" layoutH="163" >
		<thead>
			<tr>
			    <th>留言ID</th>
				<th>商品ID</th>
				<th>发送用户ID</th>
				<th>接收用户ID</th>
				<th>留言内容</th>
				<th>所属ID</th>
				<th>留言时间</th>
			</tr>	
		</thead>
		<tbody>
			  
		</tbody>
	</table>
  
	</div>