<!-- * Created by PhpStorm.
 * User: 周博学
 * Date: 2016/12/7
 * Time: 11:00 -->
<!DOCTYPE html>
<html>

<head>
    <title>校园跳蚤市场-商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="lib/weui.min.css" type="text/css" rel="stylesheet"/>
    <link href="css/jquery-weui.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/define.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/jquery-weui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/demo.css">
    <style>
        .swiper-container {
            width: 100%;
        }

        .swiper-container img {
            display: block;
            width: 100%;


        }
        html,body{
            height: 100%;


        }
    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_tab_bd">
        <div class="weui_tab">
            <div class="weui_navbar" style="background-color:#ffffff;padding-top:10px;padding-bottom:10px;font-family:'微软雅黑'">
                <a class="weui_navbar_item weui_bar_item_on button orange medium" style="height:20px;font-size:16px;font-family:'宋体'">
                    商品详情
                </a>
                <a class="weui_navbar_item button orange medium" style="height:20px;font-size:16px;font-family:'宋体';margin-left:5px;margin-right:5px">
                    卖家信息
                </a>
                <a class="weui_navbar_item button orange medium" style="height:20px;font-size:16px;font-family:'宋体'">
                    留言
                </a>
            </div>
            <div class="weui_tab_bd">
                <div class="content">
                    <!--顶部幻灯片开始-->
                    <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
                        <div class="swiper-wrapper">
                            <volist name="good['image']" id="img1">
                                <div class="swiper-slide"><img src="__ROOT__/Public/{$img1}" height="300px" width="100%" alt=""></div>

                            </volist>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!--顶部幻灯片结束-->
                    <div class="weui-row" style="text-align: center;">
                        <div class="weui-col-50 price1" name="goods">{$good.name}</div>
                    </div>
                    <div class="weui-row">
                        <div class="weui-col-50 price1" name="price" style="color:red;font-size: 20px;">价格：{$good.price}</div>
                        <div class="weui-col-50 ifnew1" style="font-size: 20px;">是否全新：{$good.degree}</div>
                    </div>
                    <div class="weui-row">
                        <div  style="width: 100%; height: 100px;background-color: #fbd972; ">简介:<br><p>{$good.description}</p></div>

                        <br>
                    </div>

                    <div class="weui-row width">
                        <volist name="good['image']" id="img">

                            <img src="__ROOT__/Public/{$img}" style="width: 100% ;height: auto"/>
                        </volist>


                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="content" style="display:none;">
                    <div class="weui-row" style="margin-top:30px">
                        <div class="weui-col-40" style="width: 100px">
                            <img src="__PUBLIC__/{$user.head}" width="100px" height="100px">
                        </div>
                        <div class="weui-col-60" style="background-color: #fbd972;width: 350px;">卖家昵称：<p style="width: 250Px;text-align: center;float: right">{$user.nickname}</p><br />性别：<p style="width: 250Px;text-align: center;float: right">{$user.sex}</p><br />学院：<p style="width: 250Px;text-align: center;float: right">{$user.college}</p><br />学号：<p style="width: 250Px;text-align: center;float: right">{$user.num}</p><br />
                            年级：<p style="width: 250Px;text-align: center;float: right">{$user.grade}</p><br/>
                        </div>
                    </div>
                </div>
                <div class="content" style="display:none;">
                    <div class="weui-row">

                            <div class="weui_cells weui_cells_access" style="width: 100%">
                                <a class="weui_cell" href="javascript:;">
                                    <div class="weui_cell_hd">
                                        <img src="__PUBLIC__/{$user.head}" alt="icon" style="height:60px;width:60px;margin-right:5px;display:block">
                                    </div>
                                    <div class="weui_cell_bd weui_cell_primary" style="font-size: 9px">
                                        <p>{$user.name}<br>
                                            {$user.college}</p>
                                    </div>
                                    <div class="weui_cell_ft" style="font-size: 20px">
                                        {$message.content}
                                        <br>
                                        {$message.time}
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--商品详情结束-->
            <!--底部导航开始-->
            <div class="weui_tabbar">
                <a href="javascript:;" id='hide' class="weui_navbar_item weui_bar_item_on button orange medium" style="display:block;font-size:16px;font-family:'宋体';color:#fff;margin-top:5px;margin-bottom:8px;padding-top:8px">我喜欢</a>
                <a href="javascript:;" id='hide1' class="weui_navbar_item weui_bar_item_on button orange medium" style="display:none; font-size:16px;font-family:'宋体';color:#fff;margin-top:5px;margin-bottom:8px;padding-top:8px">我喜欢♥</a>
                <a class="weui_navbar_item weui_bar_item_on button orange medium" style="font-size:16px;font-family:'宋体';color:#fff;margin:5px 3px 8px 3px;padding-top:8px">联系卖家</a>
                <a href="javascript:;" id='show-actions' class="weui_navbar_item weui_bar_item_on button orange medium" style="font-size:16px;font-family:'宋体';color:#fff;margin-top:5px;margin-bottom:8px;padding-top:8px">购买</a>
                <br />
            </div>
            <!--底部导航结束-->
            <script type="text/javascript" src="__PUBLIC__/lib/jquery-2.1.4.js"></script>
            <script type="text/javascript" src="__PUBLIC__/js/jquery-weui.min.js"></script>
            <script type="text/javascript" src="__PUBLIC__/js/swiper.js"></script>
            <script>
                $(".swiper-container").swiper({
                    loop: true,
                    autoplay: 2000
                });
                $(".weui_navbar .weui_navbar_item").click(function(){
                    $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//谁都没有weui_bar_item_on
                    $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
                    //判断点击的是第几的选项卡
                    var which = $(this).index();

                    //让所有的内容区域隐藏
                    $(".weui_tab_bd .content").hide();

                    //按索引显示对应的内容
                    $(".weui_tab_bd .content:eq("+which+")").show();
                });
            </script>

            <script>
                $(document).on("click", "#show-actions", function() {
                    $.actions({
                        title: "选择支付方式",
                        onClose: function() {
                            console.log("close");
                        },
                        actions: [
                            {
                                text: "线下交易",
                                className: "color-primary",
                                onClick: function() {
                                    $.alert("你选择了在线交易");
                                }
                            },
                            {
                                text: "在线支付",
                                className: "color-primary",
                                onClick: function() {
                                    $.alert("暂未开启本服务");
                                }
                            },
                            {
                                text: "我们来联系",
                                className: 'color-danger',
                                onClick: function() {
                                    $.alert("你选择了“我们来联系”");
                                }
                            }
                        ]
                    });
                });
            </script>
            <script type="text/javascript">
                $(document).on("click","#hide",function(){
                    $("#hide").css('display','none');
                    $("#hide1").css('display','block');

                });

            </script>
            <script type="text/javascript">
                $(document).on("click","#hide1",function(){
                    $("#hide1").css('display','none');
                    $("#hide").css('display','block');

                });

            </script>
</body>
</html>
