<form action="__MODULE__/Transaction/store" method="post"  class="pageForm required-validate" onsubmit="return validateCallback(this)">

	<div class="pageFormContent nowrap" layoutH="37">
         <dl>
            <dt>卖家名称：</dt>
            <dd>
            <input type="text" name="seller_id" maxlength="30" alt="添加卖家名称"/>
            </dd>
        </dl>
         <dl>
            <dt>买家名称：</dt>
            <dd>
            <input type="text" name="buyer_id" maxlength="30" alt="添加买家名称"/>
            </dd>
        </dl>
        <dl>
            <dt>商品名称：</dt>
            <dd>
            <input type="text" name="goods_id" maxlength="30" alt="添加商品名称"/>
            </dd>
        </dl>
        <dl>
            <dt>商品状态：</dt>
            <dd>
            <select name="condition" id="goods_state">
            	<option value="0" selected="selected">请选择</option>
            	<option name='1'>出售中</option>
            	<option name='2'>已完成</option>
            </select>
            </dd>
        </dl>
    </div>
    <div>
    	<div class="formBar" style="position:absolute;bottom:0;right:0;width:100%;">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit" name="submit">保存</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</form>
