<style type="text/css">
img {
    margin-right: 50px;
}
</style>
描述：
<p>{$goods.description}</p>
图片：
<p>
    <img src="__ROOT__/Public/{$goods.image0}" style="display:none; height: 120px;width: 120px;" />
    <img src="__ROOT__/Public/{$goods.image1}" style="height: 120px;width: 120px;" />
    <img src="__ROOT__/Public/{$goods.image2}" style="height: 120px;width: 120px;" />
    <img src="__ROOT__/Public/{$goods.image3}" style="height: 120px;width: 120px;" />
    <br/>
    <img src="__ROOT__/Public/{$goods.image4}" style="height: 120px;width: 120px;" />
    <img src="__ROOT__/Public/{$goods.image5}" style="height: 120px;width: 120px;" />
</p>
