<html>
<style>
    .pageFormContent dd{
        width:135px;
    }
    .upload{
        display: none;
    }
    #upload1{
        display: block;
    }
    #nownum{
        float: none;
        display: inline;
    }
</style>
<form action="__MODULE__/ThinkUser/add" method="post" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return validateCallback(this)">
    <div class="pageFormContent nowrap" layoutH="37">
        <dl>
            <dt>管理员账户：</dt>
            <dd>
                <input type="text" name="name" class="required" maxlength="30" alt=""/>
            </dd>
        </dl>
        <dl>
            <dt>管理员账户密码：</dt>
            <dd>
                <input id="pw1" type="password" name="passwd" class="required alphanumeric" maxlength="30" alt=""/>
            </dd>
        </dl>
        <dl>
            <dt>密码确认：</dt>
            <dd>
                <input id="pw2" type="password" name="cpassword" class="required" equalto="#pw1" maxlength="30" alt="" onBlur="validate()"/>
                <span id="tishi"></span>
            </dd>
        </dl>




    </div>
    <div class="formBar" style="position:absolute;bottom:0;right:0;width:100%;">
        <ul>
            <li>
                <div class="buttonActive">
                    <div class="buttonContent">
                        <button type="submit">保存</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">取消</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
</html>

